<!--
  Generated template for the ShowListTransPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-addMember" no-border>
  <ion-navbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <h2 style="color: white;margin-top: 20px;">รายละเอียดการ {{status}}</h2>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="card-background-page" padding>
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="addList()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div *ngIf="data.length==0">
    <h3 style="margin-top: 50px;" text-center>-------ไม่มีรายการ-------</h3>
  </div>


  <div *ngIf="data.length!=0">
    <h2 text-center style="margin-top: 50px;">มีรายการทั้งหมด {{data.length}} รายการ</h2>
    <ion-list style="margin: 0;height: 119px;" *ngFor="let d of data">
      <ion-item-sliding>
        <ion-item class="item-md-member">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div style="margin-top: 5px;color: white;">
                  <h1 text-center *ngIf="d.name">ชื่อ: {{d.name}}</h1>
                  <h1 text-center *ngIf="d.list_name">รายการ: {{d.list_name}}</h1>
                  <h1 text-center>จำนวนเงิน: {{d.money |
                    currency:' ':true:'1.2-2'}} บาท</h1>

                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button style=" border-radius: 0 20px 20px 0;height: 108px;margin-top: 20px;background-color: red;"
            (click)="deleteItem(d.id)">
            <ion-icon name="trash"></ion-icon>Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>


  </div>
</ion-content>
