page-home {

}
.toolbar-background-md{
  background-color: #2A5B9D;
  height: 120px !important;
}
.header-a{
  height: 120px;
  border-radius: 0 0 100px 100px !important;
}
.toolbar{
  height: 120px !important;
  border-radius: 0 0 60px 60px;
}
